<span *ngIf="data.state">
    <h1 mat-dialog-title>Add the admin password to edit the list</h1>
    <form class="example-form">
        <mat-form-field class="example-full-width">
          <input type="password" matInput placeholder="Enter admin password" [(ngModel)]="password" name="password">
        </mat-form-field>
      </form>
    <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()">Cancel</button>
      <button mat-button cdkFocusInitial (click)="onNoClick(password)">Submit Password</button>
    </div>
</span>
<span *ngIf="!data.state">
    <span *ngIf="!deleteController" >
        <h1 mat-dialog-title>New list item</h1>
        <div mat-dialog-content>
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Enter a new item" [(ngModel)]="title" name="title">
            </mat-form-field>
            <br/>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Enter a description" [(ngModel)]="description" name="description">
            </mat-form-field>
          </form>
        </div>
        <div mat-dialog-actions>
          <button mat-button (click)="onNoClick()">Cancel</button>
          <button mat-button cdkFocusInitial (click)="saveDataFirebase()">Save</button>
        </div>
    </span>
    <span *ngIf="deleteController" >
        <h1 mat-dialog-title>Are you sure you want to delete this item?</h1>
        <div mat-dialog-actions>
          <button mat-button (click)="onNoClick()">Cancel</button>
          <button mat-button cdkFocusInitial (click)="saveDataFirebase()">Delete</button>
        </div>
    </span>
</span>
