<!-- Toolbar -->
<mat-toolbar class="toolbar">
	<span>Demo App</span>
</mat-toolbar>
<!-- Profile Banner -->
<div class="banner_container">
	<h1 class="banner_flex">Full Stack Demo CRUD App</h1>
	<h3 class="banner_flex">MongoDB, Express, Angular and NodeJS </h3>
	<h4 class="banner_flex">(MEAN)</h4>
	<h5 class="banner_flex">By: David Pazmino</h5>
<div class="banner kenburns-top">

</div>
</div>

<div class="wrapper">
	<img class="profile_image center" src="assets/FotoPerfil.png" alt="">
</div>
<!-- Note List -->
<div class="wrapper">
	<mat-card class="note_list center">
		<mat-card-header>
			<mat-card-title class="note_list_title">To do list!</mat-card-title>
			<mat-card-subtitle>Feel free to add, edit or delete any task or item that you want</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			
			<p>
				Create a web app
			</p>
		</mat-card-content>
		<mat-card-actions class="notes_footer">
			<button mat-fab (click)="openDialog()">
				<i class="material-icons">add</i>
			</button>
		</mat-card-actions>
	</mat-card>
</div>